#browse-container {

}

.video-item {
	margin: 8px;
	border: solid 1px black;	
}

.video-item img {
	margin: 4px;	
	float: left;
	width: 320px;
	height: 240px;
	border: solid 1px black;
}

.video-controls {
	float: right;
	margin: 3px;
}

.video-item a {
	margin-bottom: 3px;	
}

.video-title {
	font-size: 2em;
}

.video-description {
	font-size: 1em;
}

.video-tags {
	font-size: 0.8em;
	color: grey;
}

.div-clearer {
	clear: both;
	height: 1px;
}

#upload-form {
	float: left;
	padding-left: 10px;
}

#upload-list {
	float: left;
	border: solid 1px black;
	width: 300;
	min-height: 400;
}

.upload-item, #addNewItem {
	border: 1px black solid;
	margin: 2px;
	padding-left: 1px;
	cursor: pointer;
}

.selected-item {
	background-color: grey;
}

.uploaded-item {
	background-color: green;
}

.failed-item {
	background-color: red;
}

#addNewItem {
	text-align: center;
	background-color: blue;	
	cursor: crosshair;
}

#uploadButton {
	clear: both;	
}
